@model IEnumerable<EyeQuiz.Managment.Entites.Question>
@{
    ViewData["Title"] = "Test";
}

<form asp-action="SetAnswer" asp-controller="Exam" id="mineForm" method="post">
    @{
        int i = 0;
        int count = 1;
    }
    @foreach (var question in Model)
    {

        <div>
            <div class="alert alert-dark mt-5" role="alert">
                @count . @question.QuestionName
            </div>
            <div class="form-check">
                <input class="form-check-input" group type="radio" name="answer[@i]"  value="@(question.AnswerA!=null ? question.AnswerA : null)">
                <label class="form-check-label" for="answer">
                      @question.AnswerA
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer[@i]"  value="@(question.AnswerB!=null ? question.AnswerB : null)">
                <label class="form-check-label" for="answer">
                     @question.AnswerB
                </label>
            </div>


            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer[@i]" value="@(question.AsnwerC!=null ? question.AsnwerC : null)">
                <label class="form-check-label" for="answer">
                     @question.AsnwerC
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer[@i]" value="@(question.AnswerD!=null ? question.AnswerD : null)">
                <label class="form-check-label" for="answer">
                     @question.AnswerD
                </label>
            </div>
            <input type="hidden" name="answer[@i]" value="@null" />
        </div>



        i++;
        count++;

        
    }
    <button type="submit" class="btn btn-primary">Calculate Result!!!</button>
    <h1>Score:@ViewBag.Result  Message: @TempData["Valid"]</h1>
</form>

